* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  /* background-color: #f3f3f3; */
}

/* First Nav Area */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav {
 display: flex;
 max-width: 100%;
 /* width: 1000px; */
 justify-content: center;
 align-items: center;
 padding: 5px 0px;
 margin: auto 10px;
}

.nav--2.sticky {
  position: fixed;
  background: #ffffff80;
}

.innerdiv__cover {
  display: flex;
  max-width: 100%;
  width: 1030px;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 30px;
  height: 30px;
  opacity: .8;
}

.nav__links {
  display: flex;
}

.nav__item {
  text-decoration: none;
  padding: 0 19px;
  list-style: none;
}

@media (max-width: 1020px) {
  .nav__item {
    padding: 0 10px;
  }
}

.nav__item .nav__link {
  color: #707070;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.top__nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.btn__menu {
  width: 15px;
  height: 15px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  cursor: pointer;
  /* background: #000; */
}

.btn__menu div {
  width: 100%;
  padding: 1px;
  background: #707070;
  margin: 3px;
  border-radius: 10px;
}

.btn__search, .btn__store  {
  background: transparent;
  margin: 5px;
  border: none;
  color: #707070;
  cursor: pointer;
}

/* Second Nav Area */
.nav--2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
}

.nav--2.sticky {
  position: fixed;
  backdrop-filter: blur(25px);
  background: #ffffffb5;
  border-bottom: 1px solid rgb(221, 216, 216);
  
}

.inner__cover__underline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100%;
  width: 1000px;
  /* padding: 10px 10px; */
  border-bottom: 1px solid rgb(221, 216, 216);
}

.nav--2 .name-2 {
  /* margin-right: 50px; */
  text-decoration: none;
  color: #707070;
  font-size: 12px;
}

.name-2 span {
  font-size: 20px;
  color: #2a2929;
  font-weight: 600;
}

.nav--links-seperated {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 10px 0; */
}

.nav__links-2 {
  display: flex;
  list-style: none;
}

.nav__links-2.active {
  color: #b6adad;
}

.nav__link-2 {
  text-decoration: none;
  font-size: 11px;
  color: black;
  padding: 0 15px;
  font-weight: 500;
}

.btn__buy {
  width: 45px;
  font-size: 13px;
  border-radius: 50px;
  border: none;
  color: rgb(255, 255, 255);
  background: rgb(41, 71, 188);
  padding: 5px 5px;
  cursor: pointer;
}

.shop__link {
  text-align: center;
  width: 100%;
  background: #f3f3f3;
  padding: 12px 0;
}

.shop__link p {
  font-size: 1.5rem;
  line-height: 1;
}

.shop__link p a {
  text-decoration: none;
  color: rgb(19, 63, 223);
}

/* First page design */
.header__title {
  display: flex;
  width: 100%;
  height: 80vh;
}

.name-to-center {
  justify-content: center;
  margin: 100px auto auto auto;
}

.header__title .name {
  font-size: 150px;
  color: #d3cfcf;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
}

@media (max-width: 1000px) {
  .header__title {
    display: none;
  }

  .nav--2 {
    border-bottom: 1px solid rgb(176, 173, 173);
  }

  .inner__cover__underline {
    border-bottom: none;
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  .shop__link p {
    font-size: 1.4rem;
    padding: 0 10px;
  }
}

/* Making the nav bars responsive */
@media (max-width: 832px) {
  .nav {
    justify-content: space-between;
  }

  .nav__links {
    display: none;
  }

  .nav--2 {
    padding: 0 10px;
  }

  .nav__link-2 {
    display: none;
  }

  .btn__menu {
    display: flex;
  }

}


.section--1 {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.second__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background: #2a2929; */
}

.second__section img {
  max-width: 80%;
  width: 1000px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #2a2929; */
}

.section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ba0d0d; */
}

@media (max-width: 900px) {
  .second__section img {
    margin: 30px auto;
  }
}

.name--and--size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  /* background-color: #2360e2; */
}

.name__size-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  text-align: left;
  max-width: 90%;
  width: 1000px;
  padding: 20px 0;
  /* background: #e01212; */
}

.name__size-container h1 {
  font-size: 6rem;
  line-height: 1.1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.name__size-container h1 span {
  color: #a19b9b;
}
@media (max-width: 450px) {
  .name__size-container {
    padding: 7px 0;
  }

  .name__size-container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1020px) {
  .name__size-container h1 {
    font-size: 5rem;
  }
}

.container {
  width: 1000px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  /* align-items: center; */
}

.container h1 {
  color: #000;
  font-size: 7rem;
  line-height: 1.20;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 450px) {
  .container h1 {
    font-size: 3rem;
  }
}

.container p {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #a09a9a;
  padding: 20px 0;
  text-align: justify;
}

.container p span {
  color: #232222;
}

@media (max-width: 450px) {
  .container p {
    font-size: 2.2rem;
    text-align: left
  }
}

.container .content1 {
  color: #2f2e2e;
  line-height: 1;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

.container .content1 .red-text {
  color: rgb(183, 31, 4);
}

.container .content1 a {
  text-decoration: none;
  color: #2f2e2e;
}

.container .video__link {
  display: flex;
}

.video__link p {
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.video__link p a {
  text-decoration: none;
  color: rgb(61, 115, 240);
}

.video__link p a:hover {
  text-decoration: underline;
}


/* Second Section */
#section--2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 80px 0;
  /* background-color: #000; */
}

.section__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

.section__start h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.your__choice__your__air {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  padding: 10px 0;
  margin: auto;
}

.your__choice__your__air h1 {
  color: #242424;
  font-size: 7rem;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 450px) {
  .your__choice__your__air h1 {
    font-size: 4rem;
  }
}

.video__section-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__section-2 video {
  width: 100%;
}

.video__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  padding: 30px 0;
  margin: auto;
}

.video__content p {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1.3;
  color: #8a8888;
}

.video__content p .black__text {
  color: #000;
}

@media (max-width: 450px) {
  .video__content p {
    font-size: 2rem;
  }
}

.image__section-2 {
  width: 1000px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.image__section-2 img {
  width: 100%;
}

.image__section-2__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: 15px auto;
}

.image__section-2__content p {
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #8a8888;
}

.image__section-2__content p .black__text {
  color: #000;
}

@media (max-width: 450px) {
  .image__section-2__content p {
    font-size: 1.9rem;
    line-height: 1.2;
  }
}

.color__design__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 95%;
  margin: 15px auto;
  gap: 20px;
  /* background-color: red; */
}


.color__type-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  gap: 20px;
  /* margin: auto; */
}

@media (max-width: 450px) {
  .color__type-section1 {
    width: 100%;
  }
}

.first-image {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  padding: 60px 0;
  /* justify-content: center;
  align-items: center; */
}

.first-image img {
  width: 60%;
  margin: auto;
}

.second-image {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  padding: 60px 0 0 0;
}

.second-image img {
  width: 100%;
  margin: auto;
}

.color__type-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  /* height: 100%; */
}

@media (max-width: 450px) {
  .color__type-section2 {
    width: 100%;
  }
}

.third-image {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.third-image img {
  width: 50%;
  margin: 28px auto;
}


/* @media (max-width: 1050px) and (min-width: 414px) {
  .color__type-section1 {
    width: 45;
  }
  .color__type-section2 {
    width: 45;
  }
} */

 /* color choice section */
.color-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  /* background-color: #2a2929; */
}

.color-section-inner-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.color_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .color-section-inner-container {
    width: 70%;
  }
}

.color_container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 5px;
}
.color_container .btn.active {
  border: 2px solid #2360e2;
}

.color-btn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.midnight-btn {
  background-color: #2a2a3a;
}

.starlight-btn {
  background-color: #f5e0c0;
}

.spacegray-btn {
  background-color: #737780;
}

.silver-btn {
  background-color: silver;
}

.color_container .color-name {
  visibility: hidden;
}

.color_container .color-name.active {
  visibility: visible;
}

.lastText-section-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 1000px;
  max-width: 90%;
  padding: 20px 0;
}

.lastText-section-2 p {
  font-size: 2.2rem;
  color: #8a8888;
  font-weight: 600;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.lastText-section-2 .black__text {
  color: #242424;
}

@media (max-width: 450px) {
  .lastText-section-2 p {
    font-size: 2rem;
  }
}






/* ------PERFORMANCE SECTION------ */
/* __________SECTION 3____________ */
#section--3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 60px 0;
}

.performance-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

.performance-section h3 {
  color: #000;
  font-size: 1.5rem;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.speed_performance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

.speed_performance h1 {
  font-size: 7rem;
  color: #232222;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.speed_performance h1 img {
  width: 70px;
}

@media (max-width: 450px) {
  .speed_performance h1 {
    font-size: 4rem;
  }

  .speed_performance h1 img {
    width: 50px;
  }
}


.video__section-3 {
  width: 100%;
  margin: 40px 0;
}

.video__section-3 video {
  width: 100%;
}

.m1__performance {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 1000px;
  max-width: 90%;
  /* background-color: #2360e2; */
}

.performance_mx {
  width: 25%;
  border-right: 1px solid #938e8e;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.performance__and__batteryLife {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 75%;
  gap: 40px;
  padding: 0 40px;
}

.performance__and__batteryLife h1 {
  font-size: 1.9rem;
  line-height: 1.1;
  color: #a09a9a;
}

.performance__and__batteryLife h1 .bigText {
  font-size: 7.3rem;
  color: #2c2b2b;
}

@media (max-width: 450px) {
  .m1__performance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .performance_mx {
    width: 100%;
    border-right: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
  }

  .performance_mx img{
    width: 30%;
  }

  .performance__and__batteryLife {
    width: 100%;
    display: block;
    padding: 20px 0;
  }

  .performance__and__batteryLife h1 .bigText {
    font-size: 5rem;
  }
  .performance__and__batteryLife h1 {
    padding: 20px 0;
  }
}

.about__performance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: 100px auto;
}

.about__performance p {
  font-size: 2.3rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-weight: 600;
  color: #a19b9b;
  padding-bottom: 40px;
}

.about__performance p .black-text {
  color: #232222;
}

.go__inside_m2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: auto;
  /* background-color: #2360e2; */
}

.go__inside_m2 button {
  padding: 15px;
  border-radius: 50px;
  font-size: 1.7rem;
  font-weight: 600;
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
}

.go__inside_m2 button:hover {
  background: #000;
  color: #fff;
  transition: background .4s ease-in;

}







/* SECTION 4 */
#section--4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  padding: 50px 0;
}

.newToMac__section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  /* background-color: #2360e2; */
  margin: auto;
}

.newToMac__section h1 {
  font-size: 5rem;
  color: #1f1e1e;
  padding-bottom: 20px;
}

.about__mac-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slide-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 50%;
  height: 55rem;
  margin: 20px;
  gap: 15px;
}

.slide p {
  font-size: 2.3rem;
  line-height: 1;
  font-weight: 600;
  color: #979494;
}

.slide p span {
  color: #1f1e1e;
}

@media (max-width: 450px) {
  .slide {
    width: 70%;
    height: 55rem;
    margin: 20px;
    gap: 15px;
  }

  .slide p {
    font-size: 1.9rem;
  }

  .newToMac__section h1 {
    font-size: 3rem;
  }
}














.section--5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* background-color: #f9f9f9; */
  padding: 100px 0;
}

.display-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  margin: auto;
  padding: 40px 0;
}

.display-section h1 {
  color: #000;
  line-height: 1.5;
}

.display-section h1 span {
  font-size: 7rem;
}

.image__about_display {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.display-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 20px 0; */
}

.display-img img {
  width: 100%;
}

.display-content-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #f6f6f6;
}

.display-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 18%;
  height: 40rem;
  margin: 30px;
  /* background-color: #2360e2; */
}

.display-content-container .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.icon img {
  width: 18%;
}

.display-content-container h1 {
  font-size: 2.8rem;
  line-height: 1;
  text-align: left;
  color: #000;
  padding-bottom: 10px;
}

.display-content-container p {
  font-size: 1.9rem;
  line-height: 1;
  color: #a09a9a;
}

.image__about_display button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  margin: 20px 30px;
  /* padding: 40px 0; */
  background: transparent;
  border: none;
  z-index: 1000;
  cursor: pointer;
}

@media (max-width: 450px) {
  .display-section h1 span {
    font-size: 4rem;
  }

  .display-content-1 {
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    padding: 15px;
  }

  .display-content-container {
    width: 70%;
    height: 10rem;
    margin: 50px 5px;
  }
}

.macDisplay__content {
  display: flex;
  width: 1000px;
  max-width: 90%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
}

.macDisplay__content p {
  font-size: 2.5rem;
  font-weight: 600;
  color: #b6adad;
  line-height: 1.1;
}

.macDisplay__content p span {
  color: #000;
}

/* .facetime_and_speaker-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  max-width: 90%;
  gap: 50px;
  margin: auto;
}

.facetimez--section, .speaker--section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.facetime-container {
  display: flex;
  width: 100%;
  height: 60rem;
  padding-top: 38%;
  background-color: #f6f6f6;
}

.facetime-image {
  width: 70%;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
}

.facetime-image img {
  width: 100%;
  border-left: 10px;
  bottom: 0;
} */


